
@{
    ViewBag.Title = "Word of Mouth";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}






<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-primary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="flaticon-users"></i>
                        </div>
                    </div>
                    <div class="col col-stats">
                        <div class="numbers">
                            <p class="card-category">Shares</p>
                            <h4 class="card-title">@ViewBag.Shares</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="flaticon-interface-6"></i>
                        </div>
                    </div>
                    <div class="col col-stats">
                        <div class="numbers">
                            <p class="card-category">New Audience Reach</p>
                            <h4 class="card-title">@ViewBag.reach</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-success card-round">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="flaticon-analytics"></i>
                        </div>
                    </div>
                    <div class="col col-stats">
                        <div class="numbers">
                            <p class="card-category">New Engagements</p>
                            <h4 class="card-title">@ViewBag.Engagement</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-secondary card-round">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="flaticon-success"></i>
                        </div>
                    </div>
                    <div class="col col-stats">
                        <div class="numbers">
                            <p class="card-category">New Impressions</p>
                            <h4 class="card-title">@ViewBag.Impressions</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">Comparisons of Reach, Impressions and Engagements of New Audience</div>

                </div>
            </div>
            <div class="card-body">
                <div class="chart-container" style="min-height: 375px">
                    <div id="Reach"></div>
                </div>
                <div id="myChartLegend"></div>
            </div>
        </div>
    </div>
 
</div>

<!-- Card With Icon States Color -->


<script>

    $(document).ready(function () {
        var keys = [];
        var values = [];

        $.ajax({
            dataType: "json",
            url: "/Admin/UserByDay",
            //data: data,
            success: function (data) {
                console.log(Object.keys(data).length);
                for (var i = 0; i < Object.keys(data).length; i++) {
                    keys[i] = Object.keys(data)[i]
                    values[i] = data[Object.keys(data)[i]];
                }
                var data = [{
                    type: 'scatter',
                    x: keys,
                    y: values,
                    orientation: 'h',
                    marker: {
                        color: 'rgb(142,124,195)'
                    }
                }];

                Plotly.newPlot('UserByDay', data);
            }
        });



    })

    $(document).ready(function () {
        var keys = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var values = [];
        $.ajax({
            dataType: "json",
            url: "/Admin/NonAud",
            //data: data,
            success: function (data) {
                console.log(Object.keys(data).length);
                for (var i = 0; i < Object.keys(data).length; i++) {
                    // keys[i - 1] = Object.keys(data)[i]
                    values[i] = data[Object.keys(data)[i]];
                }
                var trace1 = {
                    type: 'scatter',
                    x: keys,
                    y: values[0],
                    name: 'Reach',
                    orientation: 'h',
                    marker: {
                        color: 'rgb(0,204,0)'
                    }
                }
                var trace2 = {
                    type: 'scatter',
                    x: keys,
                    y: values[1],
                    xaxis: 'x2',
                    yaxis: 'y2',
                    name: 'Engagements',
                    orientation: 'h',
                    marker: {
                        color: 'rgb(55, 128, 191)'
                    }
                }
                var trace3 = {
                    type: 'scatter',
                    x: keys,
                    y: values[2],
                    name: 'Impressions',
                    orientation: 'h',
                    marker: {
                        color: 'rgb(142,124,195)'
                    }
                }


                var data = [trace1, trace2, trace3];
                var layout = {
                    grid: { rows: 1, columns: 2, pattern: 'independent' },
                };


                Plotly.newPlot('Reach', data, layout);
            }
        });



    })



</script>




